<%- include('./partials/head') %>
<%- include ('./partials/nav') %>

<h1>Listings Nearby</h1>
<h1>Bedrooms: <%= userparams.bedrooms %></h1>
<h1>Bathrooms: <%= userparams.bathrooms %></h1>

<%- include ('./partials/end_head') %>